<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Stable Insurance</title>
    </head>
    <body>
        <div>
            <h1>Signup</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.driver_id(placeholder='Driver ID') }}
                    {{ form.email(placeholder='Email address') }}
                    <br>
                    {{ form.submit() }}
                </p>
            </form>
        </div>
    </body>
</html>
