{% extends "layout.html" %}
{% block body %}
  <center>
    <h2>We found {{ driverName }} associated with that TLC number.</h2>
    <button type="button" onclick="location.href='{{ url_for('queryVehicle') }}'" class="btn btn-primary">I am {{ driverName }}</button>
    <button type="button" onclick="location.href='{{ url_for('furtherAssist') }}'" class="btn btn-primary">I am getting insurance for {{ driverName }}</button>
    <button type="button" onclick="location.href='{{ url_for('reEnterTLC') }}'" class="btn btn-primary">I am not {{ driverName }}</button>
  </center>
{% endblock %}
