{% extends "layout.html" %}
{% block body %}
  <center>
    <h2>TLC Liscense Number Lookup</h2>
    <form style="width:50%" action="{{ url_for('checkTLC') }}" method=post enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Enter TLC Liscense Number:</label>
        <input type="number" class="form-control" id="number" name="number" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </center>

  {% if tryNum > 1 %}
    {% include 'contact_form.html' %}
  {% endif %}

{% endblock %}
